{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<!-- Django Dynamic Formsets -->
<script src="{% static 'js/jquery.formset.js' %}"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Order</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<form id="create_order_form" role="form" method="post">
    {% csrf_token %}
    <div class="row">
        {{ formset.management_form }}
        {{ formset.non_field_errors }}
        {% for form in formset %}
            <div class="col-lg-4" id="order_input">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Seat 1</b>
                    </div>
                    <div class="panel-body">
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field.label_tag }} {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<br><br>
<input type="submit" name="name" value="Send Order">
</form>

<script type="text/javascript">
    $('#create_order_form #order_input').formset();
</script>
<br><br>
{% endblock %}
