{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<style>
div {
    position: relative;
    overflow-y: scroll;
}
</style>
{% endblock %}

{% block navbar %}
    {% include 'employee_navbar_include.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                    <h3>Order Total: {{ ticket_total }}</h3>

            </div>
            <div class="row"  positon="relative" style="height: 425px;">
                <ul class="list-group">
                    {% if not ordered_items_list %}
                    Order Currently Empty
                    {% endif %}
                    {% for item in ordered_items_list %}
                        {% if item.sent %}
                            <li class="list-group-item list-group-item-warning">
                                Seat {{ item.seat_number }} {{ item.item.name  }} ${{ item.item.price }}
                                <span class="glyphicon glyphicon-ok-circle pull-right"></span>
                            </li>
                        {% else %}
                            <li class="list-group-item list-group-item-success">
                                Seat {{ item.seat_number }} {{ item.item.name  }} ${{ item.item.price }}
                                <a class="glyphicon glyphicon-remove pull-right" href="{% url 'remove_item' item.pk table_pk seat_number current_menu.pk %}">
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
        <div class="col-sm-1">
            <!-- spacer in between order list and menu -->
            <div class="row">
                <br><br><br>
            </div>
            {% for seat in working_seats %}
                {% if seat_number == seat %}
                    <div class="row">
                        <p class="text-center">
                            <a class="btn btn-md btn-success" href="{% url 'order_create_view' table_pk seat menu_pk %}"> Seat {{ seat }}</a>
                        </p>
                    </div>
                    {% else %}
                    <div class="row">
                        <p class="text-center">
                            <a class="btn btn-md btn-default" href="{% url 'order_create_view' table_pk seat menu_pk %}"> Seat {{ seat }}</a>
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
<!-- not sure if removing seats is necessary
            <div class="row">
                <p class="text-center">
                    <a class="btn btn-md btn-primary pull-center" href="{% url 'remove_seat' table_pk last_seat menu_pk %}">Remove<br>Seat</a>
                </p>
            </div>
-->
        </div>
        <div class="col-xs-8">
            <div class="row">
                <button class="btn btn-info btn-lg">Table {{ table_number }}</button>
                <a class="btn btn-lg btn-primary pull-center" href="{% url 'add_seat' table_pk last_seat menu_pk %}">Add Seat</a>
                {% if current_table.sent %}
                <a class="btn btn-lg btn-success" href="{% url 'submit_order' table_pk %}" name="submit">Send Order</a>
                {% else %}
                <a class="btn btn-lg btn-success" href="{% url 'submit_order' table_pk %}" name="submit">Send Order</a>
                <a class="btn btn-lg btn-danger" href="{% url 'cancel_order' table_pk %}">Cancel</a>
                {% endif %}
                <a class="btn btn-lg btn-default pull-right" href="{% url 'server_home' %}">Back To Current Tables</a>

                <br><br>
            </div>

    <!-- begin bootstrap example -->
            <div class="row">

                <div>

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#beverages" aria-controls="beverages" role="tab" data-toggle="tab">Beverages</a></li>
                    <li role="presentation"><a href="#alcohol" aria-controls="alcohol" role="tab" data-toggle="tab">Alcoholic Beverages</a></li>
                    <li role="presentation"><a href="#appetizers" aria-controls="appetizers" role="tab" data-toggle="tab">Appetizers</a></li>
                    <li role="presentation"><a href="#entrees" aria-controls="entrees" role="tab" data-toggle="tab">Entrees</a></li>
                    <li role="presentation"><a href="#desserts" aria-controls="dessert" role="tab" data-toggle="tab">Desserts</a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="beverages">
                        <h3>Beverages</h3>
                        {% for item in non_alcoholic_bevs %}
                        <div class="col-xs-6 col-md-3">
                            <a href="{% url 'add_item' table_pk item.pk seat_number menu_pk %}">
                                <img src="{{ item.photo.thumbnail.url }}" style="margin:auto; display:block;" alt="photo" class="img-rounded" height="100"/><br>
                                <p class="text-center">{{ item.name }} ${{ item.price }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="alcohol">
                        <h3>Alcoholic Beverages</h3>
                        {% for item in alcoholic_bevs %}
                        <div class="col-xs-6 col-md-3">
                            <a href="{% url 'add_item' table_pk item.pk seat_number menu_pk %}">
                                <img src="{{ item.photo.thumbnail.url }}" style="margin:auto; display:block;" alt="photo" class="img-rounded" height="100" /><br>
                                <p class="text-center">{{ item.name }} ${{ item.price }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="appetizers">
                        <h3>Appetizers</h3>
                        {% for item in appetizers %}
                            <div class="col-xs-6 col-md-3">
                                <a href="{% url 'add_item' table_pk item.pk seat_number menu_pk %}">
                                    <img src="{{ item.photo.thumbnail.url }}" style="margin:auto; display:block;" alt="photo" class="img-rounded" height="100" /><br>
                                    <p class="text-center">{{ item.name }} ${{ item.price }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="entrees">
                        <h3>Entrees</h3>
                        {% for item in entrees %}
                        <div class="col-xs-6 col-md-3">
                            <a href="{% url 'add_item' table_pk item.pk seat_number menu_pk %}">
                                <img src="{{ item.photo.thumbnail.url }}" style="margin:auto; display:block;" alt="photo" class="img-rounded" height="100" /><br>
                                <p class="text-center">{{ item.name }} ${{ item.price }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div role="tabpanel" class="tab-pane" id="desserts">
                        <h3>Desserts</h3>
                        {% for item in desserts %}
                        <div class="col-xs-6 col-md-3">
                            <a href="{% url 'add_item' table_pk item.pk seat_number menu_pk %}">
                                <img src="{{ item.photo.thumbnail.url }}" style="margin:auto; display:block;" alt="photo" class="img-rounded" height="100" /><br>
                                <p class="text-center">{{ item.name }} ${{ item.price }}</p>
                            </a>
                        </div>
                        {% endfor %}

                    </div>

                  </div>

                </div>
            </div>

    <!-- end bootstrap example -->
        </div>
    </div>
</div>

<br><br>

{% endblock %}
