{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'server_home' %}" class="btn btn-default btn-lg pull-right">
                Go Back
            </a>

        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>{{ table_object.server.workplace }}</h3>
                    Server {{ table_object.server }}
                    Table {{ table_object.number }}
                    Date {{ table_object.started }}
                    <br><br>
                    Items:
                    <br>
                    {% for item in ticket_items %}
                    Seat {{ item.seat_number }} {{ item.item.name }} ${{ item.item.price }}<br>
                    {% endfor %}
                    <br>
                    Subtotal: ${{ table_object.total_ticket_price }}<br>
                    Tax: {{ table_object.server.workplace.tax_percentage }}<br>
                    {% if table_object.server.workplace.tax_percentage %}
                    Total: {{ table_object.price_with_tax }}
                    {% else %}
                    Total: ${{ table_object.total_ticket_price }}
                    {% endif %}
                    <br><br>
                    <br>
                    <form action="{% url 'charge_view' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="{{ table_object.stripe_total }}">
                        <input type="hidden" name="table_pk" value="{{ table_object.pk }}">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_rdjIyPpbimdaKQ6bzkbWV5Mp"
                        data-amount="{{ table_object.stripe_total }}"
                        data-name="{{ table_object.server.workplace }}"
                        data-description="Widget"
                        data-image="/img/documentation/checkout/marketplace.png"
                        data-locale="auto">
                      </script>
                    </form>

                </div>

            </div>

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>
{% endblock %}
