{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'server_home' %}" class="btn btn-default btn-lg pull-left">
                Back To Current Tables
            </a>
            <br>
            {% if user.userprofile.position == 'M' %}
            <a href="{% url 'index' %}" class="btn btn-default btn-lg pull-left">
                Back To Administrator Home
            </a>
            {% endif %}
        </div>
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>{{ table_object.server.workplace }}</h3>
                    Server {{ table_object.server }}
                    Table {{ table_object.number }}<br>
                    {{ table_object.started }}
                    <br><br>
                    Items:
                    <br>
                    <table class="table">
                        <tr>
                            <th>Seat</th>
                            <th>Item</th>
                            <th class="text-right">Price</th>
                        </tr>
                        {% for item in ticket_items %}
                        <tr>
                            <td>{{ item.seat_number }}</td>
                            <td>{{ item.item.name }}</td>
                            <td class="text-right">{{ item.item.price }}</td>
                        </tr>
                        {% endfor %}

                    </table>
                    <br>
                    Subtotal: <span class="pull-right">${{ table_object.total_ticket_price }}</span><br>
                    Tax: <span class="pull-right">{{ table_object.server.workplace.tax_percentage }}</span><br>
                    {% if table_object.server.workplace.tax_percentage %}
                    Total: <span class="pull-right">{{ table_object.price_with_tax }}</span>
                    {% else %}
                    <h4>Total: <span class="pull-right">${{ table_object.total_ticket_price }}</span></h4>
                    {% endif %}
                    <br><br>
                    <br>
                    {% if not table_object.paid %}
                    <a class="btn btn-md btn-success pull-right" href="{% url 'cash_paid' table_object.pk %}">Paid With Cash</a>

                    <form action="{% url 'charge_view' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="amount" value="{{ table_object.stripe_total }}">
                        <input type="hidden" name="table_pk" value="{{ table_object.pk }}">
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_rdjIyPpbimdaKQ6bzkbWV5Mp"
                        data-amount="{{ table_object.stripe_total }}"
                        data-name="{{ table_object.server.workplace }}"
                        data-description="Pay Bill"
                        data-image=""
                        data-locale="auto">
                      </script>
                    </form>
                    {% else %}
                    <h4>Paid</h4>
                    {% endif %}
                </div>

            </div>

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>
{% endblock %}
