<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Server Buddy</title>
    </head>
    <body>
        <div class="container">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li role="presentation"><a href="{% url 'logout' %}">Log Out</a></li>
                <li role="presentation"><a href="{% url 'server_home' %}">Server View</a></li>
                <li role="presentation"><a href="{% url 'kitchen' %}">Kitchen View</a></li>
                <li role="presentation"><a href="{% url 'add_menu_item' %}">Add Menu Item</a></li>
                <li role="presentation"><a href="{% url 'create_menu' %}">Create A New Menu</a></li>
                <li role="presentation"><a href="#">Currently Logged In As {{ user.username }}</a></li>

                {% else %}
                <li role="presentation"><a href="{% url 'login' %}">Log In</a></li>
                <li role="presentation"><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
