{% extends 'base.html' %}
{% load staticfiles %}

{% block navbar %}
{% include 'navbar_include.html' %}
{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome {{ user.username }}</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <h4>Servers</h4>
                    {% for server in servers %}
                    <span class="pull-left">{{ server.user }}</span>
                    <span class="glyphicon glyphicon-glass pull-right"></span>
                    <br>
                    {% endfor %}
                </div>
                <a href="{% url 'add_server' user.userprofile.workplace.pk %}">
                    <div class="panel-footer">
                        <span class="pull-left">Add New Server</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Kitchen</h4>
                    {% for cook in kitchen %}
                    <span class="pull-left">{{ cook.user }}</span>
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    <br>
                    {% endfor %}
                </div>
                <a href="{% url 'add_cook' user.userprofile.workplace.pk %}">
                    <div class="panel-footer">
                        <span class="pull-left">Add New Kitchen Staff</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4>Recent Tables</h4>
                    {% for table in recent_tables.all %}
                    <a href="{% url 'payment' table.pk %}">
                        <span class="pull-left">Table {{ table.number }} ${{ table.total_ticket_price }}</span>
                        <span class="glyphicon glyphicon-usd pull-right"></span>
                    </a>
                    <br>
                    {% endfor %}
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left"></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}
