{% extends 'base.html' %}
{% block navbar %}
{% include 'employee_navbar_include.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h5>{{ server }}</h5>
            {% for menu in menus %}
            <br>
            <a href="{% url 'menu_detail' menu.pk %}">{{ menu }}</a>
            {% endfor %}
        </div>
        <div class="col-xs-10">
            <h3>Your Tables</h3>
            <div class="list-group">
                {% for table in bound_tables %}
                    {% if table.sent %}
                    <a class="btn btn-danger btn-lg" href="{% url 'order_create_view' table.pk 1 first_menu.pk %}">
                             Table {{ table.number }}<br>Sent
                    </a>
                    {% else %}
                    <a class="btn btn-warning btn-lg" href="{% url 'order_create_view' table.pk 1 first_menu.pk %}">
                             Table {{ table.number }}<br>Unsent
                    </a>

                    {% endif %}
                {% endfor %}
                <br><br>
                {% for table in unbound_tables %}
                <a class="btn btn-default btn-lg" href="{% url 'start_table_view' table first_menu.pk %}">
                         Start<br>Table {{ table }}
                </a>
                {% endfor %}
                <br><br>
                {% for table in unpaid_tables %}
                <a class="btn btn-success btn-lg" href="{% url 'payment' table.pk %}">
                    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Take Payment<br>Table {{ table.number }}<br>{{ table.started }}
                </a>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
