{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2" style="background-color:pink">
            <h5>{{ server.user_profile }}</h5>
        </div>
        <div class="col-xs-10">
            <h3>Tables</h3>
            <div class="list-group">
                {% for table in table_list %}
                    <a href="" class="list-group-item">#{{ table }} {{ table.seats }}-Top</a>
                {% empty %}
                There Are currently no tables
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
