{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-2" style="background-color:pink">
            <h4>Server Options</h4>
        </div>
        <div class="col-xs-10">
            <h3>Tables</h3>
            <div class="row">
                <div class="col-xs-6" style="background-color:yellow;">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <div class="col-xs-6" style="background-color:blue;">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" style="background-color:green;">
                    green Column
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                </div>
                <div class="col-xs-6" style="background-color:red;">
                    red Column
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
